body {
    margin: 0;
}

.app {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    background-color: #272727;
}

.app header {
    background-color: #1F2C23;
    color: #FEFAE7;
    text-align: center;
    font-family: 'ralewayregular', sans-serif;
    border-bottom: 1px solid #68D3B2;
    display: flex;
    min-height: 40px;
    font-size: 17px;
}

.app header .header-text {
    margin: auto;
}

.app .content {
    background-color: #272727;
    padding: 0 25px;
}

.app .controls-bar {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'ralewayregular', sans-serif;
    color: #ACADB1;
}

.app .stats-bar {
    background-color: #2B2C35;
    margin: 20px 0;
    padding: 5px 10px;
}

.app .stats-bar h3 {
    font-size: 24px;
    color: #36DDF9;
    text-align: center;
    text-decoration: underline;
    margin: 0 0 15px;
}

.app .stats-bar ul {
    font-size: 17px;
    padding: 0;
    margin: 0 0 10px;
}

.app .stats-bar li {
    list-style-type: none;
}

.app .stats-bar li:first-letter {
    text-transform: uppercase;
}

.app .options-bar {
    background-color: #2B2C35;
    padding: 5px 10px;
}

.app .options-bar .viewport-selector {
    margin-bottom: 15px;
    font-size: 17px;
}

.app .options-bar h3 {
    font-size: 24px;
    color: #36DDF9;
    text-align: center;
    text-decoration: underline;
    margin: 0 0 15px;
}

.app .options-bar select {
    background-color: #272727;
    border: none;
    color: #ACADB1;
    outline: none;
    cursor: pointer;
}

.app .audio-player {
    text-align: center;
    margin-bottom: 15px;
}

.app .audio-player button {
    padding: 4px 0;
    min-width: 80%;
    color: #36DDF9;
    background-color: #272727;
    border: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

.app .game {
    text-align: center;
    display: inline-block;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app .description {
    text-align: center;
    display: inline-block;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app .description-block {
    font-family: 'ralewayregular', sans-serif;
    background-color: #2B2C35;
    color: #ACADB1;
    display: block;
    max-width: 80%;
    border: 1px solid #68D3B2;
    margin: 80px auto;
    font-size: 17px;
}

.app .description-block button {
    color: #36DBF6;
    background-color: #272727;
    border: 1px solid #585858;
    border-radius: 2px;
    margin-bottom: 20px;
    outline: none;
    user-select: none;
    font-size: inherit;
    cursor: pointer;
    padding: 3px 10px;
    font-family: inherit;
}

.app .description-block .description-text {
    margin: 20px 0;
}

.app .description-block p {
    margin: 0;
}

.app .map-selector {
    margin-bottom: 20px;
}

.app .map-selector select {
    background-color: #272727;
    border: none;
    color: #ACADB1;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.app .map {
    display: inline-block;
    border: 1px solid #68D3B2;
    margin: 80px 0;
    outline: none;
}

.app .map-row {
    display: flex;
}

.app .map-item {
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
}

.app .map-item i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app .track {
    background-color: #412865;
}

.app .player {
    background-color: #00671A;
    color: #ffffff;
}

.app .wall {
    background-color: #232323;
}

.app .certificate {
    background-color: #FC2034;
}

.app .skill {
    background-color: #39FFD5;
    color: #F7B653;
}

.app .boss-wall {
    background-color: #FADA56;
}

.app .boss {
    background-color: #FC2034;
}

.app .result-container {
    text-align: center;
    display: inline-block;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app .result-block {
    font-family: 'ralewayregular', sans-serif;
    background-color: #2B2C35;
    color: #ACADB1;
    display: block;
    max-width: 80%;
    border: 1px solid #68D3B2;
    margin: 80px auto;
    font-size: 17px;
}

.app .result-block button {
    color: #36DBF6;
    background-color: #272727;
    border: 1px solid #585858;
    border-radius: 2px;
    margin-bottom: 20px;
    outline: none;
    user-select: none;
    font-size: inherit;
    padding: 3px 10px;
    font-family: inherit;
    cursor: pointer;
}

.app .result-block .result-text {
    margin: 20px 0;
}

.app .result-block .result-text p {
    margin: 0;
}

.app .result-block .result-text span {
    color: #FEFAE7;
    font-weight: 700;
}

.app .hooks {
    color: #ffffff;
}